header
  h3= t('pretitle')
  h1= t('title')
  h5= t('choose_planet')
nav.navMenu
  a(href='/personal')
    div
      h3= t('personal.title')
      p= t('personal.brief')
  a(href='/reflexive')
    div
      h3= t('reflexive.title')
      p= t('reflexive.brief')
  a(href='/labor')
    div
      h3= t('labor.title')
      p= t('labor.brief')
  a(href='/tech')
    div
      h3= t('tech.title')
      p= t('tech.brief')
