header
  h3= t('pretitle')
  h1= t('title')
  h5= t('introduction')
nav
  a(href='/personal')
    div
      h3= t('personal.title')
      p= t('personal.shortBrief')
  a(href='/reflexive')
    div
      h3= t('reflexive.title')
      p= t('reflexive.shortBrief')
  a(href='/labor')
    div
      h3= t('labor.title')
      p= t('labor.shortBrief')
  a(href='/tech')
    div
      h3= t('tech.title')
      p= t('tech.shortBrief')
