header
  h3= t('planetPretitle')
  h1= t('reflexive.title')
#quotesSlider
  h5 
    span Sinceridad 
    span con 
    span amabilidad
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec venenatis turpis est, eu pellentesque urna venenatis vitae. Aliquam nibh felis, semper quis ullamcorper at, elementum nec erat. Pellentesque gravida elit ac ligula volutpat condimentum. Maecenas iaculis diam malesuada lacinia dapibus. Aenean mollis, dolor eu mollis laoreet, odio orci rutrum neque, eu pharetra est ex et libero. Curabitur turpis purus, placerat nec neque ac, consectetur pulvinar turpis. Proin pretium dictum odio. Donec commodo lacinia accumsan. Pellentesque sed tempus magna, sit amet dignissim augue. Vivamus sed tortor efficitur dolor ultricies euismod. Vivamus eu nunc sit amet nulla cursus finibus. Etiam ultrices diam at eros iaculis rutrum. Curabitur vulputate mi sapien, ac bibendum nisl bibendum auctor. Mauris hendrerit, arcu vitae interdum dictum, quam massa cursus arcu, in sagittis odio sem sit amet felis. Maecenas sit amet consequat arcu, ac tempus lorem. Aenean ipsum nulla, commodo id sollicitudin sed, fermentum at tellus.
  h5
    span Entusiasmo 
    span sin 
    span fanatismo
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec venenatis turpis est, eu pellentesque urna venenatis vitae. Aliquam nibh felis, semper quis ullamcorper at, elementum nec erat. Pellentesque gravida elit ac ligula volutpat condimentum. Maecenas iaculis diam malesuada lacinia dapibus. Aenean mollis, dolor eu mollis laoreet, odio orci rutrum neque, eu pharetra est ex et libero. Curabitur turpis purus, placerat nec neque ac, consectetur pulvinar turpis. Proin pretium dictum odio. Donec commodo lacinia accumsan. Pellentesque sed tempus magna, sit amet dignissim augue. Vivamus sed tortor efficitur dolor ultricies euismod. Vivamus eu nunc sit amet nulla cursus finibus. Etiam ultrices diam at eros iaculis rutrum. Curabitur vulputate mi sapien, ac bibendum nisl bibendum auctor. Mauris hendrerit, arcu vitae interdum dictum, quam massa cursus arcu, in sagittis odio sem sit amet felis. Maecenas sit amet consequat arcu, ac tempus lorem. Aenean ipsum nulla, commodo id sollicitudin sed, fermentum at tellus.
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec venenatis turpis est, eu pellentesque urna venenatis vitae. Aliquam nibh felis, semper quis ullamcorper at, elementum nec erat. Pellentesque gravida elit ac ligula volutpat condimentum. Maecenas iaculis diam malesuada lacinia dapibus. Aenean mollis, dolor eu mollis laoreet, odio orci rutrum neque, eu pharetra est ex et libero. Curabitur turpis purus, placerat nec neque ac, consectetur pulvinar turpis. Proin pretium dictum odio. Donec commodo lacinia accumsan. Pellentesque sed tempus magna, sit amet dignissim augue. Vivamus sed tortor efficitur dolor ultricies euismod. Vivamus eu nunc sit amet nulla cursus finibus. Etiam ultrices diam at eros iaculis rutrum. Curabitur vulputate mi sapien, ac bibendum nisl bibendum auctor. Mauris hendrerit, arcu vitae interdum dictum, quam massa cursus arcu, in sagittis odio sem sit amet felis. Maecenas sit amet consequat arcu, ac tempus lorem. Aenean ipsum nulla, commodo id sollicitudin sed, fermentum at tellus.
  h5 
    span Imaginativo 
    span pero 
    span práctico
  h5 
    span Valentía 
    span sin 
    span temeridad
  h5 
    span Prudencia 
    span sin 
    span cobardía
  h5 
    span Compasión 
    span sin 
    span sensiblería
  h5 
    span Bondad 
    span con 
    span inteligencia
  h5 
    span Optimismo 
    span no 
    span irracional
  h5 
    span Generosidad 
    span sin 
    span derroche
  h5 
    span Decisión 
    span con 
    span paciencia
  h5 
    span Confianza 
    span con 
    span humildad
h4= t('choose_satellite')
nav.navMenu
  a(href='/reflexive')
    div
      h3= t('reflexive.favorite_quotes')
      p= t('reflexive.favorite_quotes_brief')
  a(href='/reflexive')
    div
      h3= t('reflexive.articles')
      p= t('reflexive.articles_brief')