header
  h3= t('planetPretitle')
  h1= t('reflexive.title')
#quotesSliderContainer
  #quotesSlider
    != quotesHTML
h4= t('choose_satellite')
nav.navMenu
  a(href='/reflexive')
    div
      h3= t('reflexive.favorite_quotes')
      p= t('reflexive.favorite_quotes_brief')
  a(href='/reflexive')
    div
      h3= t('reflexive.articles')
      p= t('reflexive.articles_brief')