header
  h3= t('planetPretitle')
  h1= t('reflexive.title')
#quotesSlider
  h5 
    span Sinceridad 
    span con 
    span amabilidad
  h5 
    span Entusiasmo 
    span sin 
    span fanatismo
  h5 
    span Imaginativo 
    span pero 
    span práctico
  h5 
    span Valentía 
    span sin 
    span temeridad
  h5 
    span Prudencia 
    span sin 
    span cobardía
  h5 
    span Compasión 
    span sin 
    span sensiblería
  h5 
    span Bondad 
    span con 
    span inteligencia
  h5 
    span Optimismo 
    span no 
    span irracional
  h5 
    span Generosidad 
    span sin 
    span derroche
  h5 
    span Decisión 
    span con 
    span paciencia
  h5 
    span Confianza 
    span con 
    span humildad
h4= t('choose_satellite')
nav.navMenu
  a(href='/reflexive')
    div
      h3= t('reflexive.favorite_quotes')
      p= t('reflexive.favorite_quotes_brief')
  a(href='/reflexive')
    div
      h3= t('reflexive.articles')
      p= t('reflexive.articles_brief')